*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  justify-content: center;
  background: url(../img/bgpicture/hbg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.gallerybody {
  background-image: url(../img/gallery/bgi.jpg);
  background-size: 25% 25%;
  background-repeat: repeat;
}
.navli {
  display: inline;
  list-style: none;
  padding: 0 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.headpage-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.navli-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  font-style: italic;
  background-image: url(../img/bgpicture/libg.jpg);
  background-size: 100%;
  margin: 10px;
  width: 40%;
  height: 150px;
  list-style: none;
}
main,.header-navbar,
footer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}
.header-navbar,
footer{
  background-color: azure;
  opacity: 0.6;
}
main{
  padding: 120px 5px;
}
.header-navbar {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  align-content: space-around;
  height: 100px;  
}
footer {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 1.5rem;
  max-height: 100px;
  padding: 20px 5px;
}
.contactpagecontainer,
.artpagecontainer,
.page-nav-container,
.gallery-main,
.registr-container {
  padding-bottom: 100px 5px;
  background-color: azure;
  opacity: 0.9;
}
.contactpagecontainer {
  display: flex;
  flex-direction: column;
}
.artpagecontainer {
  text-align: justify;
}
.catalogpieces {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 10px auto 70px;
}
.catalog-section {
  width: 30%;
  font-size: 1.2em;
  padding: 10px;
  background-color: azure;
  opacity: 0.8;
}
.positionname {
  padding: 10px;
}
.list-img li {
  padding: 2px 10px 5px 2px;
}
.list-img {
  padding: 0 5px 5px 20px;
}
.newpositionname::after {
  display: inline-block;
  content: "new!!!";
  background-color: red;
  padding: 1px 1px;
  margin: 5px;
}
.hpagelink {
  color: bisque;
}
h1 {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  margin: 10px auto;
}
article p {
  text-align: justify;
}
h2 {
  margin: 5px 10px;
  padding: 5px 10px;
}
h3,
h4,
h5 {
  text-align: center;
  font-size: large;
  width: 100%;
  padding: 20px 5px;
  height: 30px;
}
a {
  text-decoration: none;
}
.artpagelink {
  color: hsla(19, 85%, 13%, 0.979);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: large;
  padding: 5px;
  border-bottom: 5px solid red;
}
.image {
  display: flex;
  justify-content: center;
  max-width: 1240px;
  width: 100%;
}
.firstletter::first-letter {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  color: red;
}
.firstletter {
  padding: 20px 15px;
}
.readforward:hover {
  color: red;
}
.gotocomment {
  color: grey;
}
.article-text {
  background-color: wheat;
  padding: 5px 10px 5px;
}
.contacts-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  font-size: 2em;
  color: rgb(34, 18, 18);
  max-width: 500px;
  width: 100%;
  margin: 5px auto;
  padding: 10px 5px;
}
figure {
  width: 250px;
  height: 250px;
  text-align: center;
  font-size: 1.1rem;
}
.figcomponent {
  outline: 3px solid green;
  background-color: lightgrey;
}
.figcomponent:hover {
  outline-style: none;
}
figcaption {
  color: black;
}
.imglink {
  width: 150px;
  height: 150px;
  margin: 20px auto;
}
.gallery-main{
   height: 100%;
  }
.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.page-nav-list {
  margin-left: 20px;
  width: 100%;
}
#sec1,
#sec2,
#sec3 {
  text-align: center;
}
.page-nav-content,
.page-nav-article,
.page-nav-articlespec {
  text-align: justify;
  padding: 10px 20px;
}
.personinfo {
  display: inline;
}
form {
  max-width: 500px;
  width: 100%;
}
fieldset {
  margin: 25px auto;
  background-color: bisque;
}
textarea,
select,
input,
.btn {
  width: 100%;
  padding: 10px 20px;
}
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
textarea {
  resize: vertical;
  min-height: 75px;
  max-height: 33vh;
}
legend {
  transform: translateY(-10px);
}
form{
  margin: 0 auto;
}
form div {
  margin: 15px 0 5px;
}